<div class="col5">
	<%= image_tag 'carousel/UTAustin.png' %>
</div>
<div class="col5">
	<h1 id="signup-ask">Start exploring campus photos today! <br><span id="signup-ask-sub"> -it's free</span></h1><br />
	<%= render 'form', submit_text: "Start exploring!" %>
</div>



