
/* collegelens brand stand in */

#collegelens {
	font-family: arial;
	text-align: center;
	color: blue;
}

#collegelens span {
	font-family: arial;
	text-align: center;
	color: gray;
}


/*	header	*/