
/* collegelens brand stand in */

.collegelens {
	font-size: 170%;
	font-family: arial;
	text-align: center;
	color: blue;
}

.collegelens span {
	font-family: arial;
	text-align: center;
	color: gray;
}


/*	header	*/

.header {
	height: 45px;
	background-color: #F2F4FA;
}



/*	navigation	*/

.navbar {
	height: 45px;
	background-color: #495CB3;
}