html, body { 
  margin:0; padding:0; overflow-x:hidden;
  font-size: 9pt; color:#464646; font-family: Helvetica, Arial, Veranda, sans-serif; 
  background:url('background.png') repeat;
  z-index:0;
  min-width: 1100px; 
}


strong {
  font-weight: bold;
}


/*	header	*/

.header {
	height: 45px;
	background-image: url('topNav.png');
}


.header img {
	float: left;
	margin: 0 40%;
}


.header a {
	float: left;
}



/*	navigation	*/

.navbar {
	height: 45px;
	background-image: url('subnav.png');
}


/*  columns */
#info-col {
  position:relative; float:left;
  height:100%; width:190px; margin:0 0; padding:20px; min-height:700px;
  background:#ffffff; 
}

#info-col-top {
  height: 45px;
  width: 190px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 0;
}


#info-col-top p {
  font-size: 12px;
  color: #ffffff;
  font-family: Helvetica, Arial, Veranda, sans-serif;
  padding-right: 0px;
  position: absolute;
  padding-top: 15px;
  padding-left: 5px;
  display: inline;
}

#info-col-top img {
  padding-top: 10px;
  padding-left: 5px;
  display: inline;
}


.col5 {
  position: relative; float: left;
  width: 500px;
  height: 100%;
  
}



/*  photo grid */
#gridal {
  position:relative; float:left;
  height:auto; width:auto; margin:20px; 
}

.tile {
  position:relative; float:left;
  height:200px; width:200px; margin:0 1px 1px 0;
  background:pink; 
}

.photo_index {
  border: solid 1px white;
}


.tile2 {
  height:420px; width:500px;
  background:pink;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}


/*  individual photo page */
.photo_caption {
  font-size: 14pt; 
  color:#464646; 
  font-family: Helvetica, Arial, Veranda, sans-serif; 

}


/*  sign-up page  */
#signup-ask {
  float: left;
  clear: right;
  display: block;
  font-size: 16pt; 
  color:#464646; 
  font-family: Helvetica, Arial, Veranda, sans-serif;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 40px;
  margin-bottom: 30px;
  border-bottom: dotted 1px;
  padding-top: 20px;
}

#signup-ask-sub {
  color:#464646; 
  font-family: Helvetica, Arial, Veranda, sans-serif;
  font-weight: normal;
  font-size: 16px;
}




.new_user {
  margin:0 auto;
  width:400px;
  padding:30px;
}


.new_user .field {
  float: left;
  clear: right;
  width: 100%;
}


.new_user label, select {
  display:block;
  font-weight:lighter;
  text-align:right;
  float:left;
  font-family: Helvetica, Arial, Veranda, sans-serif;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 20px;
}

.new_user input {
  float:left;
  font-size:20px;
  padding:4px 2px;
  border:solid 1px #aacfe4;
  margin:2px 0 20px 10px;
  font-family: Helvetica, Arial, Veranda, sans-serif;
  font-weight: lighter;

}

.new_user p {
  margin-top: 10px;
  font-family: Helvetica, Arial, Veranda, sans-serif;
  font-weight: lighter;
  font-size:20px;

}


#landing-carousel {
  padding-top: 50px;
  padding-left: 75px;
}


#landing-carousel h1 {
  font-family: Helvetica, Arial, Veranda, sans-serif;
  font-weight: bold;
  font-size: 16px;
}


.carousel {
  width: 500px;
  height: 420px;
  position: relative;
  overflow: hidden;
  border: solid 1px;
}


.carousel li {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}






/*  shadow */
.shadow1 { 
  -khtml-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -ms-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -o-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -moz-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; -webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 2px; box-shadow:rgba(0,0,0,0.3) 0 1px 2px; }
.shadow2 { 
  -khtml-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; -ms-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; -o-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; -moz-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; -webkit-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; box-shadow:rgba(0,0,0,0.3) 0 2px 3px; }
.shadow3 {
  -khtml-box-shadow:rgba(0,0,0,0.3) 0px 0px 8px; -ms-box-shadow:rgba(0,0,0,0.3) 0px 0px 8px; -o-box-shadow:rgba(0,0,0,0.3) 0px 0px 8px; -moz-box-shadow:rgba(0,0,0,0.3) 0px 0px 8px; -webkit-box-shadow:rgba(0,0,0,0.3) 0px 0px 8px; box-shadow:rgba(0,0,0,0.3) 0px 0px 8px; }







/* buttons */
.btn {
	display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

ul.ui-menu-item:hover {
  background-color: #FFF;
}


.ui-helper-hidden-accessible {
  font-size: 0px;
}



