<div class="header">
	<%= image_tag("collegelens.png", alt:'collegelens') %>
	
	<% if session[:user_id] %>
		<%= link_to "Sign out", signout_path %>
	<% else %>
		<%= link_to "Sign in", signin_path %>
	<% end %>
	
	
</div>