<div class="navbar">

	

	
	<div id="info-col-top" class="shadow3">

		<%= image_tag 'cap.png' %>


		<!-- profile page name -->
		<% if !@user.nil? %>
			<p><%= @user.firstName %> <%= @user.lastName %></p>
		<% elsif !@college.nil? %>
			<p><%= @college.shortName %></p>
		<% end %>
	
	</div>

</div>